{% extends "partials/layout.njk" %}
{%block title%}Pythagorean theorem calculator{%endblock%}
{% block content %}
    <h1>Pythagorean theorem calculator</h1>
<h3>a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup></h3> <br>

{% if a and b %}

<h3>{{ a }} <sup>2</sup> + {{ b }} <sup>2</sup> = {{ c }}<sup>2</sup></h3>
<h3> {{ a * a }} + {{ b * b }} = {{ c * c }}</h3>
<h3> A= {{ a }}</h3>
<h3> B= {{ b }}</h3>
<h3> C= {{ c }}</h3>
{% endif %}



    <form method="POST">
    <div class="mb-3">
        <label for="a" class="form-label">A</label>
        <input type="number" min="1" class="form-control" id="a" placeholder="A" name="a">
        </div>
        <div class="mb-3">
            <label for="b" class="form-label">B</label>
            <input type="number" min="1" class="form-control" id="b" placeholder="B" name="b">
          </div>  
          <div class="mb-3">
            <input type="submit" class="btn btn-primary">
            </div>
            </form>

            {% endblock %}